@{
  Layout = "_Layout";
}

<div>
  <h1>University Registrar</h1>
</div>
<div>
  @Html.ActionLink("See Courses", "Index", "Courses", null, new { @class="htmlButton"})
  @Html.ActionLink("See Students", "Index", "Students", null, new { @class="htmlButton"})
  @Html.ActionLink("See Majors", "Index", "Majors", null, new { @class="htmlButton"})
  @Html.ActionLink("See Departments", "Index", "Departments", null, new { @class="htmlButton"})

</div>